<div class="container d-flex justify-content-center">
  <div class="row">

    <h1 class="text-center">Login Page</h1>
    <div class="mt-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group" autocomplete="false">
        <div class="form-group">
          <label>Name:</label>
          <input formControlName="name" type="text" class="form-control" />

          @if (submitted && f['name'].errors) {
          <div class="text-danger">
            @if (f['name'].errors['required']) {
            <div>*name is required</div>
            }
          </div>
          }

        </div>

        <div class="form-group">
          <label>Email:</label>
          <input formControlName="email" type="email" class="form-control" />

          @if (submitted && f['email'].errors) {
          <div class="text-danger">
            @if (f['email'].errors['required']) {
            <div>*email is required</div>
            }
            @if (f['email'].errors['email']) {
            <div>*email must be valid</div>
            }
          </div>
          }

        </div>

        <!-- <div class="form-group">
          <label>Password:</label>
          <input formControlName="password" type="text" class="form-control" />

          @if (submitted && f['password'].errors) {
          <div class="text-danger">
            @if (f['password'].errors['required']) {
            <div>*password is required</div>
            }
            @if (f['password'].errors['minlength']) {
            <div>*password must have length 6</div>
            }
          </div>
          }

        </div> -->

        <div class="form-group">
          <label>Select Your City:</label>
          <select class="form-control" [(ngModel)]="selectedCity" formControlName="city">
            @for(city of cities; track city){

            <option>{{city}}</option>

            }

          </select>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>